Django==6.0
channels==4.3.2
daphne==4.2.1
channels_redis==4.3.0
redis==7.1.1
psycopg2-binary==2.9.11
whitenoise==6.9.0
pillow==11.1.0
django-cleanup==9.0.0
cryptography==46.0.5
python-dotenv==1.2.1
cloudinary==1.44.1