channels==4.3.0
channels_redis==4.3.0
cloudinary==1.44.1
cryptography==46.0.5
daphne==4.2.1
Django==6.0
django-cleanup==9.0.0
django-cloudinary-storage==0.3.0
pillow==11.1.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
pywebpush==2.3.0
redis==7.1.1
whitenoise==6.9.0